---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)

//
.top-intro{
	background-image: url("../img/bgIntro.jpg");
	background-size: cover;
	height: 10em;
}