---
layout: default
---

<ul class="listPosts">
  {% for post in site.posts %}
    <li class="listPosts-post">
      <header>
        <h2 class="listPosts-title">{{post.title}}</h2>
        <div class="listPosts-date">{{post.date}}</div>
        <ul class="listPosts-tags">
          {% for category in post.categories %}
            <li><a href="">{{category}}</a></li>
          {% endfor %}
        </ul>
      </header>
      <div class="listPosts-summary">
        <img src="{{post.image}}" alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eget quam sem. Duis est nibh, imperdiet ultricies congue non, ultrices non nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. In quis luctus nibh, ut a <a href="{{post.url}}">leia mais sobre este arqtigo titulo 1</a>
        </p>
      </div>
    </li>
  {% endfor %}          
</ul> 