@mixin debug($color: red){
	border: solid 1px $color;
}
@mixin title-h2(){
	font-family: 'Lora';
	font-size: 3.2em;
	font-weight: normal;
	line-height: (2/3.2) * 2 + em;
	margin-top: (2/3.2) * 3 + em;	
}
@mixin image(){
	height: 18em;
	margin-bottom: 2em;
	vertical-align: bottom;
	width: 62.7em;
}