///////////////////////////////////////////////////////////////////////////////
//TOP
///////////////////////////////////////////////////////////////////////////////
.top{}
.top-intro{
	background-image: url("../img/bgIntro.jpg");
	background-size: cover;
	height: 20em;
	padding-top: 5em;
	position: relative;
}
.top-brand{
	display: block;
	margin: 0 auto;
	width: 500px;
}
///////////////////////////////////////////////////////////////////////////////
//MENU
///////////////////////////////////////////////////////////////////////////////
.menu{
    background-color: $color-dark-blue;
}
.menu > ul{
	color: #fff;
	margin: 0;
	padding: 0;
}
.menu > ul > li{
	display: inline-block;
	list-style: none;
}
.menu > ul > li > a{
	color: inherit;
	display: inherit;
	padding: 1em;
	text-decoration: none;
}
.menu > ul > li > a:hover{
	background-color: lighten($color-dark-blue, 7%);
}
/*.navbar{
	border-radius: 0;
	//box-shadow: 0 3px 2px lighten(#000, 50%);
}
.navbar-default {
    background-color: $color-dark-blue;
    border: none;
}
.navbar-default .navbar-nav > li{
	color: #fff;
}
.navbar-default .navbar-nav > li > a{
	color: inherit;
}
.navbar-default .navbar-nav > .active > a{
	background-color: lighten($color-dark-blue, 7%);
	color: inherit;
}
.navbar-default .navbar-nav > .dropdown > a:hover,
.navbar-default .navbar-nav > .dropdown > a:focus{
	background-color: lighten($color-dark-blue, 17%);
	color: inherit;
}*/
///////////////////////////////////////////////////////////////////////////////
//CONTENT
///////////////////////////////////////////////////////////////////////////////
.content{
	margin: 1%;
	max-width: 98%;
}
///////////////////////////////////////////////////////////////////////////////
//POSTS
///////////////////////////////////////////////////////////////////////////////
.listPosts{
	@include row();
	margin: 0;
	padding: 0;
}
.post{
	@include column(4);
	box-shadow: 1px 1px 2px lighten(#000, 50%);
	list-style: none;
}
.post-image{
	width: 100%;
}
.post-summary{
	background-color: $color-dark-violet;
	color: #fff;
	display: block;
	padding: 1em;
	text-decoration: none;
}