
body{
	background-color: $color-lighten-gray;
}
img{
	max-width: 100%;
}
///////////////////////////////////////////////////////////////////////////////
//TOP
///////////////////////////////////////////////////////////////////////////////
.top{}
.top-intro{
	background-image: url("../img/bgIntro.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 20em;
	padding-top: 5em;
	position: relative;
}
.top-brand{
	display: block;
	margin: 0 auto;
	width: 500px;
}
///////////////////////////////////////////////////////////////////////////////
//MENU
///////////////////////////////////////////////////////////////////////////////
.menu{
    background-color: $color-dark-blue;
}
.menu > ul{
	@include listUnstyled;
	color: #fff;
	
	& > li{
		display: inline-block;
		list-style: none;

		& > a{
			color: inherit;
			display: inherit;
			padding: 1em;
			text-decoration: none;

			&:hover{
				background-color: lighten($color-dark-blue, 7%);
			}
		}
	}
}
///////////////////////////////////////////////////////////////////////////////
//CONTENT
///////////////////////////////////////////////////////////////////////////////
.content{
	@include row-center(10);
}
///////////////////////////////////////////////////////////////////////////////
//POSTS LIST
///////////////////////////////////////////////////////////////////////////////
.listPosts{
	@include row();
	margin: 1.5em 0;
	padding: 0;
}
.listPosts-post{
	@include row();
	list-style: none;
	margin-top: 2.5em;
}
.listPosts-image{
	@include column(4); //height: 150px width:340px
	height: 150px;      //remove this propety after cutting the final images
}
.listPosts-info{
	@include column(8);
	//@include offset(3);
	
	& p{
		line-height: 1.25;
	}
}
.listPosts-title{
	font-weight: normal;
	font-size: 2.5em;
	margin-bottom: 0.2em;
	margin-top: 0;
}
.listPosts-tags{
	list-style: none;
	margin: 0;
	padding: 0;
	
	& a{
		color: $color-light-blue;
		font-size: 0.85em;
	}
}
///////////////////////////////////////////////////////////////////////////////
//AUTHORS LIST
///////////////////////////////////////////////////////////////////////////////
.listAuthors{
	@include row-center(6);

	& > ul{
		@include row();
		@include listUnstyled();
	}
}
.listAuthors-author{
	@include column(1);
	opacity: 0.5;
	position: relative;
	-webkit-transition: opacity 1s;

	&:hover{
		opacity: 1;

		.listAuthors-name{
			opacity: 1;
		}
	}
}
.listAuthors-photo{
	border-radius: 9999em;
}
.listAuthors-name{
	@include row();
	font-size: 0.85em;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 1s;
}
///////////////////////////////////////////////////////////////////////////////
//FOOTER
///////////////////////////////////////////////////////////////////////////////
.footer{
	border-top: solid #FFFFFF 1px;
	box-shadow: -1px -1px 0px #BEBEBE;
	padding: 1em 0;
}