///////////////////////////////////////////////////////////////////////////////
//TOP
///////////////////////////////////////////////////////////////////////////////
.top{}
.top-intro{
	background-image: url("../img/bgIntro.jpg");
	background-size: cover;
	background-attachment: fixed;
	height: 20em;
	padding-top: 5em;
	position: relative;
}
.top-brand{
	display: block;
	margin: 0 auto;
	width: 500px;
}
///////////////////////////////////////////////////////////////////////////////
//MENU
///////////////////////////////////////////////////////////////////////////////
.menu{
    background-color: $color-dark-blue;
}
.menu > ul{
	color: #fff;
	margin: 0;
	padding: 0;
}
.menu > ul > li{
	display: inline-block;
	list-style: none;
}
.menu > ul > li > a{
	color: inherit;
	display: inherit;
	padding: 1em;
	text-decoration: none;
}
.menu > ul > li > a:hover{
	background-color: lighten($color-dark-blue, 7%);
}
///////////////////////////////////////////////////////////////////////////////
//CONTENT
///////////////////////////////////////////////////////////////////////////////
.content{
	margin: 10% 1%;
	max-width: 98%;
	min-height: 200em;
}
///////////////////////////////////////////////////////////////////////////////
//POSTS
///////////////////////////////////////////////////////////////////////////////
.listPosts{
	@include row();
	margin: 0;
	padding: 0;
}
.post{
	@include column(3);
	//box-shadow: 1px 1px 2px lighten(#000, 50%);
	height: 20em;
	list-style: none;
	overflow: hidden;
	position: relative;
}
.post-image{
	left: -170%;
	position: absolute;
	top: 0;
	z-index: -1
}
.post-link{
	background-color: transparent;
	display: block;
	height: 100%;
	-webkit-transition: background-color 3s;
	   -moz-transition: background-color 3s;
}
.post-link:hover{
	background-color: rgba(#000, 10%);
}
/*.post-summary{
	background-color: $color-dark-violet;
	color: #fff;
	display: block;
	padding: 1em;
	text-decoration: none;
}*/