///////////////////////////////////////////////////////////////////////////////
//COLORS
///////////////////////////////////////////////////////////////////////////////
$color-dark-blue:   rgb(15,97,119);
$color-dark-green:  rgb(11,131,137);
$color-light-blue:  rgb(52,152,219);
$color-light-green: rgb(27,188,155);
$color-dark-violet: rgb(142,68,173);
$color-dark-orange: rgb(211,84,0);