///////////////////////////////////////////////////////////////////////////////
//COLORS
///////////////////////////////////////////////////////////////////////////////
$color-dark-blue:   rgb(15,97,119);
$color-dark-green:  rgb(11,131,137);
$color-light-blue:  rgb(46,204,113);
$color-light-green: rgb(27,188,155);
$color-dark-violet: rgb(142,68,173);